Lab | Revisiting Machine Learning Case Study
In this lab, you will use learningSet.csv file which you already have cloned in today's activities.
Instructions
Complete the following steps on the categorical columns in the dataset:

Check for null values in all the columns

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already
Identify columns that over 85% missing values

Remove those columns from the dataframe

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Usuari\Downloads\learningSet.csv\learningSet.csv",low_memory=False)

In [3]:
# 1. Aplicar strip a todas las columnas
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [4]:
# 2. Reemplazar todos los valores que sean una cadena vacía por None
df.replace('', None, inplace=True)

In [5]:
drop_list = []

In [6]:
# 3. Calcular los nulos por columna
null_counts = df.isnull().sum()

In [7]:
# Identificar el número total de filas en el DataFrame
total_rows = df.shape[0]

In [8]:
# 4. Filtrar las columnas que tienen más del 85% de valores nulos
columns_to_drop_due_to_nulls = [col for col, count in null_counts.items() if count / total_rows > 0.85]

In [9]:
# Crear una lista vacía llamada drop_list
drop_list = []

In [10]:
# Agregar las columnas OSOURCE y ZIP CODE a la lista drop_list
drop_list.extend(['OSOURCE', 'ZIP'])

In [11]:
drop_list.extend(['OSOURCE', 'ZIP'])

In [12]:
drop_list

['OSOURCE', 'ZIP', 'OSOURCE', 'ZIP']

In [13]:
for column in df.columns:
    if df[column].count()/len(df[column])<0.15:
        drop_list.append(column)

In [23]:
drop_list=list(set(drop_list))

In [24]:
drop_list

['CARDS',
 'RAMNT_7',
 'RAMNT_21',
 'FISHER',
 'PLATES',
 'PHOTO',
 'ZIP',
 'RECSWEEP',
 'RAMNT_20',
 'CRAFTS',
 'RDATE_20',
 'VETERANS',
 'STEREO',
 'RAMNT_4',
 'RDATE_21',
 'RAMNT_15',
 'RDATE_7',
 'RECP3',
 'RECPGVG',
 'RDATE_5',
 'RDATE_6',
 'RAMNT_6',
 'HOMEE',
 'RAMNT_3',
 'MAILCODE',
 'PVASTATE',
 'COLLECT1',
 'SOLP3',
 'RDATE_4',
 'RAMNT_13',
 'RECINHSE',
 'OSOURCE',
 'KIDSTUFF',
 'RAMNT_17',
 'WALKER',
 'CDPLAY',
 'RDATE_3',
 'CHILD07',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'CHILD18',
 'PCOWNERS',
 'RDATE_23',
 'CATLG',
 'BOATS',
 'RDATE_10',
 'BIBLE',
 'RAMNT_5',
 'CHILD03',
 'GARDENIN',
 'SOLIH',
 'MAJOR',
 'RAMNT_23',
 'CHILD12',
 'NUMCHLD',
 'RAMNT_10']

In [15]:
# Agregar las columnas con más del 85% de valores nulos a drop_list
drop_list.extend(columns_to_drop_due_to_nulls)

In [16]:
# Eliminar las columnas en drop_list del DataFrame
df.drop(columns=drop_list, inplace=True)

In [17]:
print(df.columns)

Index(['ODATEDW', 'TCODE', 'STATE', 'DOB', 'NOEXCH', 'MDMAUD', 'DOMAIN',
       'CLUSTER', 'AGE', 'AGEFLAG',
       ...
       'TARGET_D', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'CLUSTER2', 'GEOCODE2'],
      dtype='object', length=424)

In [18]:
# Reducir la cantidad de categorías en la columna GENDER. La columna solo debe tener "M" para hombres, "F" para mujeres y "otro" para el resto

In [19]:
# Reemplazar valores nulos en la columna GENDER con 'F'
df['GENDER'] = df['GENDER'].fillna('F')

In [20]:
# Ver los valores únicos antes de la limpieza
print("Valores únicos en la columna GENDER antes de la limpieza:")
print(df['GENDER'].value_counts())

Valores únicos en la columna GENDER antes de la limpieza:
F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [21]:
# Reemplazar todos los valores distintos de 'M' y 'F' con 'otro'
df['GENDER'] = df['GENDER'].apply(lambda x: x if x in ['M', 'F'] else 'otro')

In [22]:
# Verificar los valores únicos en la columna GENDER después de la limpieza
print("\nValores únicos en la columna GENDER después de la limpieza:")
print(df['GENDER'].value_counts())

Valores únicos en la columna GENDER después de la limpieza:
F       54234
M       39094
otro     2084
Name: GENDER, dtype: int64